html {
  width: 300px;
  font-family: arial;
}
test-view {
  border: 2px solid black; 
  border-bottom: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items : center;
  padding-left: 5px;
  cursor: pointer;
  word-break: break-word;
  min-height: 30px;
}
test-view > test-view {
  border-left: 2px solid black;
  border-right: none;
  flex-grow: 1;
}
test-view > test-view:first-child {
  border-top: 2px solid black;
}
test-view:last-child {
  border-bottom: 2px solid black;
}
test-view > test-view:last-child{
  border-bottom: none;
}
test-view.success {
  background-color: #00cc00;
}
test-view.failure{
  background-color: #cc0000;
}
test-view.running{
  background-color: #cccc00;
}