@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 300px;
  font-family: arial;
  margin: 0px;
  -webkit-user-select: none;
}
body {
  margin: 0px;
}
test-view {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items : center;
  cursor: pointer;
  word-break: break-word;
  min-height: 30px;
  margin-bottom: 5px;
  padding-left: 5px;
  background-color: #ffffff;
  transition : 0.5s;
}
test-view:hover{
  background-color: #00cccc;
}
test-view.success {
  background-color: #00cc00;
}
test-view.success:hover{
  background-color: #00ff00;
}
test-view.failure{
  background-color: #cc0000;
}
test-view.failure:hover{
  background-color: #ff0000;
}
test-view.running{
  background: repeating-linear-gradient(to right, #00cccc, #00ffff, #00cccc 25%);
  -webkit-animation-name : rolling-grad;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; 
}
test-group-view {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background: #efefef;
  border: 2px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0px 2px 3px -1px #ccc
}
test-group-view::shadow .title{
  cursor: pointer;
}
test-group-view::shadow .header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items : center;
}
test-group-view::shadow .run, #run-all {
  background: none;
  border: none;
  cursor: pointer;
  transition : 0.5s;
}
test-group-view::shadow .run {
  margin-left: auto;
}
test-group-view::shadow .run:hover, #run-all:hover{
  color: #00cccc;
}
test-group-view::shadow .run::before, #run-all::after {
  font-family: "FontAwesome";
  content: "\f04b";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
#run-all::after {
  margin-left: 10px;
}
test-group-view::shadow .container {
  display: none;
}
test-group-view.open::shadow .container {
  display: block;
}
test-group-view:hover {
  background: #00efef;
}
test-group-view.open:hover {
  background: #efefef;
}
#tests {
  max-height: 500px;
  overflow-y: scroll;
  box-shadow: 0px 3px 3px -1px #ccc
}
#tests::-webkit-scrollbar {
  width: 5px;
}