html {
  width: 300px;
  font-family: arial;
  margin: 0px;
}
body {
  margin: 0px;
}
test-view {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items : center;
  cursor: pointer;
  word-break: break-word;
  min-height: 30px;
  margin-bottom: 5px;
  padding-left: 5px;
}
test-view.success {
  background-color: #00cc00;
}
test-view.failure{
  background-color: #cc0000;
}
@-webkit-keyframes rolling-grad {
  from {
    background-position : 0px 0px;
  }
  to {
    background-position : 269px 0px;
  }
}
test-view.running{
  background: repeating-linear-gradient(to right, #cccc00, #ffff00, #cccc00 25%);
  -webkit-animation-name : rolling-grad;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; 
}
test-group-view {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background: #efefef;
  border: 2px solid #cccccc;
  border-radius: 6px;
}
test-group-view::shadow .title{
  cursor: pointer;
}
#tests {
  max-height: 500px;
  overflow-y: scroll;
}